.photo__elements {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;
}

@media (max-width: 1024px) {
    .photo__elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .photo__elements {
        grid-template-columns: repeat(1, 1fr);
    }
}
