.sign {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 60px;
    min-height: 85vh;
}

@media (max-width: 600px) {
    .sign {
        padding-top: 40px;
    }
}
