.sign__button {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #fff;
    margin: 216px 0 15px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    transition: opacity 0.2s linear;
}
.sign__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sign__button {
        font-size: 16px;
        line-height: 18px;
        margin: 173px 0 20px;
    }
}
