.profile__description {
    max-width: 336px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: start;
}

@media (max-width: 1024px) {
    .profile__description {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        grid-column: 1/3;
    }
}
