.menu__link {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.4s linear;
}

.menu__link:hover {
    cursor: pointer;
    opacity: 0.6;
}
