.info-tooltip__container {
    max-width: 430px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 600px) {
    .info-tooltip__container {
        max-width: 282px;
        gap: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
