@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/page/page.css");
/* Header */
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__link/header___link.css");
/* Navigation */
@import url("./blocks/menu/menu.css");
@import url("./blocks/menu/__button-escape/menu__button-escape.css");
@import url("./blocks/menu/__email/menu__email.css");
@import url("./blocks/menu/__link/menu__link.css");
/* Profile */
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__description/profile__description.css");
@import url("./blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__avatar-button/profile__avatar-button.css");
/* Photo */
@import url("./blocks/photo/__like/_active/photo__like_active.css");
@import url("./blocks/photo/__like/photo__like.css");
@import url("./blocks/photo/__image/photo__image.css");
@import url("./blocks/photo/__name/photo__name.css");
@import url("./blocks/photo/__signature/photo__signature.css");
@import url("./blocks/photo/__elements/photo__elemets.css");
@import url("./blocks/photo/__element/photo__element.css");
@import url("./blocks/photo/photo.css");
@import url("./blocks/photo/__delete/photo__delete.css");
@import url("./blocks/photo/__like-number/photo__like-number.css");
@import url("./blocks/photo/__like-container/photo__like-container.css");
/* Footer */
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__text/footer__text.css");
/* Popup */
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__form-title/popup__form-title.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__form-fieldset/popup__form-fieldset.css");
@import url("./blocks/popup/__exit/popup__exit.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__image-container/popup__image-container.css");
@import url("./blocks/popup/__image-name/popup__image-name.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/_image-background/popup_image-background.css");
@import url("./blocks/popup/__button/_disabled/popup__button_disabled.css");
@import url("./blocks/popup/__input/_type_error/popup__input_type_error.css");
@import url("./blocks/popup/__input-container/popup__input-container.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__input-image-name-error/popup__input-image-name-error.css");
@import url("./blocks/popup/__input-image-link-error/popup__input-image-link-error.css");
@import url("./blocks/popup/__input-user-name-error/popup__input-user-name-error.css");
@import url("./blocks/popup/__input-user-description-error/popup__input-user-description-error.css");
@import url("./blocks/popup/__container/__container-delete/popup__container-delete.css");
@import url("./blocks/popup/__button/_delete/popup__button-delete.css");
/* sign */
@import url("./blocks/sign/sign.css");
@import url("./blocks/sign/__button/sign__button.css");
@import url("./blocks/sign/__container/sign__container.css");
@import url("./blocks/sign/__form/sign__form.css");
@import url("./blocks/sign/__input/sign__input.css");
@import url("./blocks/sign/__link/sign__link.css");
@import url("./blocks/sign/__title/sign__title.css");
/* info-tooltip */
@import url("./blocks/info-tooltip/__close/info-tooltip__close.css");
@import url("./blocks/info-tooltip/__container/info-tooltip__container.css");
@import url("./blocks/info-tooltip/__image/info-tooltip__image.css");
@import url("./blocks/info-tooltip/__subtitle/info-tooltip__subtitle.css");
